.menuItem {
  display: flex;
}

.leftGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leftGroup p {
  text-align: start;
}

.leftGroup h4 {
  color: var(--main-highlight);
  font-size: 20px;
}

.leftGroup p {
  font-size: 14px;
}

.price {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--secondary-highlight);
  margin-left: 10px;
}
