.main {
  display: flex;
  flex-direction: column;
}

.heading,
.subHeading {
  text-align: center;
}

.heading {
  opacity: 0;
  transform: translate(-20px);
  transition: opacity 1.5s, transform 1.5s ease;
}

.subHeading {
  opacity: 0;
  transform: translate(-25px);
  transition: opacity 6s, transform 2s ease;
}

.heading.loaded,
.subHeading.loaded {
  opacity: 1;
  transform: translate(0, 0);
}
