.main h1 {
  margin-bottom: 20px;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  margin-right: 10px;
  transform: translate(0 20px);
  transition: transform 0.5s ease;
}

.rightColumn {
  margin-left: 10px;
  transform: translate(0 30px);
  transition: transform 1s ease;
}

.rightColumn.loaded,
.leftColumn.loaded {
  transform: translate(0, 0);
}

.leftColumn,
.rightColumn {
  flex: 1;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftColumn > * {
  margin-bottom: 25px;
  text-align: start;
}

.leftColumn h2 {
  color: var(--main-highlight);
  font-size: 24px;
}

@media only screen and (max-width: 700px) {
  .columnContainer {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    margin-right: 0px;
  }
}
