.title {
  margin-bottom: 20px;
  transform: translate(0px, 10px);
  opacity: 0;
  transition: opacity 1s, transform 1s ease;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}

.leftColumn,
.rightColumn {
  flex: 1;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftColumn {
  margin-right: 10px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: opacity 1s, transform 1.5s ease;
}

.rightColumn {
  margin-left: 10px;
  opacity: 0;
  transform: translate(0px, 20px);
  transition: opacity 1s, transform 2s ease;
}

.rightColumn.loaded,
.leftColumn.loaded,
.title.loaded {
  transform: translate(0px, 0px);
  opacity: 1;
}

.leftColumn > * {
  margin-bottom: 25px;
  text-align: start;
}

.leftColumn h2 {
  color: var(--main-highlight);
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .columnContainer {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    margin-right: 0px;
  }
}
