.main h1 {
  margin-bottom: 10px;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}

.leftColumn,
.rightColumn {
  flex: 1;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftColumn > * {
  margin-bottom: 25px;
  text-align: start;
}

.leftColumn h2 {
  color: var(--main-highlight);
  font-size: 24px;
  /* font-weight: 500; */
}

@media only screen and (max-width: 700px) {
  .columnContainer {
    flex-direction: column;
  }
}
