.menu {
  max-width: 50%;
}

.menu > * {
  margin-bottom: 10px;
}

.titleElement {
  display: flex;
  flex-direction: column;
}

.subTitle {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}

.description {
  text-align: justify;
}

.menuItems > * {
  margin-bottom: 10px;
}

.separator {
  display: none;
}

@media only screen and (min-width: 200px) {
  .titleElement {
    flex-direction: row;
    justify-content: space-between;
  }

  .separator {
    display: inline;
  }
}
