.menu > * {
  margin: 15px 20px;
}

.titleElement {
  display: flex;
  flex-direction: column;
}

.menuTitle {
  color: var(--main-highlight);
}

.subTitle {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}

.description {
  text-align: left;
}

.menuItems > * {
  margin-bottom: 10px;
}

.separator {
  display: none;
  margin: 0px 5px;
}

@media only screen and (min-width: 980px) {
  .titleElement {
    flex-direction: row;
  }

  .separator {
    display: inline;
  }
}
