.dropdown {
  --header-dropdown-height: var(--header-height);
  --header-dropdown-width: 130px;
  display: flex;
  align-items: flex-end;
}

.container {
  position: absolute;
  margin-right: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color: white;
  opacity: 1;
  height: auto;
  overflow: hidden;
  padding-bottom: 5px;
  translate: 0px 100px;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.container.hidden {
  z-index: -1;
  opacity: 0;
  max-height: 0px;
  margin: 0;
}

.container li {
  list-style: none;
  cursor: pointer;
  display: flex;
}

.container li a,
.container li a:visited {
  width: auto;
  color: black;

  padding: 10px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-size: 18px;
  width: 170px;
  text-align: left;
}

.container li a:hover {
  color: var(--main-highlight);
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: var(--header-height);
}

.title span:hover,
.title span:active {
  color: var(--main-highlight);
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  align-self: right;
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;

  transition: transform 0.1s ease;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  transition: transform 0.1s ease;
}
