.main {
  border: 1px solid var(--main-highlight);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.499);
  min-width: 260px;
}

.main > * {
  margin-bottom: 15px;
}

.tradingHourGroup {
  width: 100%;
  display: flex;
}

.tradingHourGroup span {
  flex: 1;
}

.location {
  text-align: left;
  padding-left: 20px;
}
