.main {
  border: 1px solid var(--main-highlight);
  padding: 30px;
}

.main > * {
  margin-bottom: 15px;
}

.tradingHourGroup {
  width: 100%;
  display: flex;
}

.tradingHourGroup span {
  flex: 1;
}
