.mainNav {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-dark);
  color: black;
  margin: 15px;
  margin-top: 45px;
  width: 90vw;
}

.logo {
  display: flex;
  height: var(--header-height);
  align-items: center;
  font-size: 34px;
}

.logo a {
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
}

.headerLinks {
  display: flex;
  font-size: 24px;
  display: none;
}

.headerLinks > * {
  transition: background-color 0.3s ease;

  padding: 15px 8px 0px 8px;
  height: var(--header-height);
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.mainNav a,
.mainNav a:visited {
  color: white;
}

.headerLinks a:active,
.headerLinks a:hover {
  color: var(--main-highlight);
}

@media only screen and (min-width: 961px) {
  .headerLinks {
    display: flex;
    font-size: 24px;
  }
}
