@font-face {
  font-family: "CenturyGothic";
  src: url("./fonts/CenturyGothic.ttf");
}

:root {
  --link-visited: #ca9c5e;
  --default-font: CenturyGothic;
  --icon-radius: 10px;
  --large-icon-size: 40px;
  --medium-icon-size: 30px;
  --small-icon-size: 30px;

  --main-highlight: #ca9c5e;
  --sidebar-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  color: white;
}

html {
  background: url("./img/sushi.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  max-height: 100vh;
}

body {
  /* background-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
