@font-face {
  font-family: CenturyGothic;
  src: url("./fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: AmandaBlack;
  src: url("./fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf");
}

:root {
  --link-visited: #ca9c5e;
  --default-font: CenturyGothic;
  --icon-radius: 10px;
  --large-icon-size: 40px;
  --medium-icon-size: 30px;
  --small-icon-size: 30px;

  --main-highlight: #ca9c5e;

  --slide-out-breakpoint: 1000px;
  --logo-main-font: AmandaBlack;
  /* --logo-main-font: ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  color: white;
}

html {
  background: url("./img/sushi.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.479);
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  text-align: center;
}
